@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* -------- Szinek -------- */

* {
    font-family: 'Roboto';
    font-weight: 500;
    --hue: 240;
    --first-color: hsl(var(--hue), 16%, 18%);
    --first-color-alt: hsl(var(--hue), 16%, 12%);
}



body {
    background-color: #242424;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.receipt {
    max-width: 600px;
    width: 100%;
    background-color: #1f1f1f;
    padding: 20px;
    color: white;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    position: relative;
}



h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: #ffffff98 0px 00px 15px;
}

/* -------- Táblázat -------- */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ffffff36;
}
th {
    background-color: #353535;
}
.total-row {
    font-weight: bold;
}
.total-row td {
    border: none;
}

.summary {
    border-top: 2.8px solid rgb(255, 255, 255);
}

/* -------- Gradient border --------*/
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.receipt::after, .receipt::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #cc00ff, #6200ff, #0084ff, #00a2ff, #cc00ff);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 22px;
    animation: 2s spin linear infinite;
}

.receipt::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/* -------- Gombok -------- */

#delete-item,
#add-item
{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 0.2rem 0.625rem;
    border-radius: .5rem;
    transition: .3s;
}

#delete-item:hover {
    background-color: var(--first-color-alt);
}


/* -------- Form formázása -------- */
.form {
    display: flex;
    flex-direction: column;
    padding: 2px;
    
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    align-items: center;
    
}

label {
    flex: 0 0 30%;
    margin-right: 10px;
}

.input-container {
    flex: 1;
    
}

input, select,option {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
}

#add-item{
    margin-top: 20px;
    padding: 10px 15px
}

.form-error {
    border: 2px solid red;
    border-radius: 16px;
    animation: shake 0.3s ease;
}

@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-5px); }
    50% { transform: translate(5px); }
    75% { transform: translate(-5px); }
    100% { transform: translate(0); }
}